@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: Roboto;
}

header {
  position: absolute;
  width: 100%;
  height: 105px;
  left: 0px;
  top: 4px;
  color: #fff;
  background: #12406A;
}

.title {
  margin: 16px;
  font-family: Roboto;
  padding: 15px;
  font-weight: normal;
  font-size: 28px;
}

.error-warning { 
  color: red;
  right: 12%;
  position: relative;
  top: 59px;
  font-size: 18px;
}

.formContainer {
  margin: auto;
  text-align: center;
}

.userInput {
  flex: 1;
  height: 42px;
  padding: 0 20px;
  background: #fff;
  bottom: 0;
  color: #444;
  font-size: 18px;
  border-radius: 4px;
}



.list-area {
  position: relative;
  top: 226px;
  display: flex;
  padding: 30px;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}



.repos-area {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 27%;
  background: #fff;
  height: 90px;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.search-button{
  right: 196px;
  position: relative;
  top: 64px;
  width: 12%;
  height: 39px;
  background: #12406A;
  border-radius: 5px;
  color: #ffff;
  font-size: 18px;

}

.form-area{
  position: relative;
  top: 144px;
}

.repos-area  > span {
  font-size: 14px;
  font-weight: normal;
  color: #000;
}

.repos-area  > span:first-child {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.input-container{
	position:relative;
	margin-bottom:25px;
}

.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:rgba(139, 117, 117, 0.68);
    pointer-event: none;
    transition: all 0.5s ease-in-out;
    padding: 0;
    margin-left: 2px;
}


input.input-container{
    border: 1px solid rgba(124, 121, 121, 0.28);
    border-radius: 3px;
    /* width: 35%; */
    height: 33px;
    font-size: 16px;
    background-color: transparent;
    margin-left: 43%;
    /* margin-right: 2%; */
    /* margin-bottom: 8px; */
    float: left;
}


@media screen and (max-width: 600px) {
  .repos-area {
    width: 80%;
  }
  .repoListContainer {
    padding: 10px;
  }
  .search-button {
    width: 90px;
  }

  input.input-container{
    width:60%;
    left: 20%;
    height: 25px;
    font-size:16px;
    margin-left: 0;
}
}